CPE-S7-projsci-IOT/RF1sensors/build
CPE-S7-projsci-IOT/RF1sensors/yotta_modules
CPE-S7-projsci-IOT/RF1sensors/yotta_targets

CPE-S7-projsci-IOT/RF2gateway/build
CPE-S7-projsci-IOT/RF2gateway/yotta_modules
CPE-S7-projsci-IOT/RF2gateway/yotta_targets